<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="Keyboard_Interface.preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Keyboard_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        
        <Keyboard_Interface.preferences>
            <setting name="theme" serializeAs="String">
                <value>209</value>
            </setting>
        </Keyboard_Interface.preferences>
        <Keyboard_Interface.Properties.Settings>
            <setting name="firstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="themeRGB" serializeAs="String">
                <value>209</value>
            </setting>
            <setting name="CAPs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CAPsKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="paused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="layoutSelect" serializeAs="String">
                <value>layout1</value>
            </setting>
        </Keyboard_Interface.Properties.Settings>
    </userSettings>
</configuration>
